services:
	- Symnedi\Security\Core\Authentication\AuthenticationManager
	- Symnedi\Security\EventSubscriber\CheckRequirementsSubscriber
	- Symfony\Component\Security\Core\Authorization\AuthorizationChecker

	# access decision manager
	- Symnedi\Security\Core\Authorization\AccessDecisionManagerFactory
	-
		class: Symfony\Component\Security\Core\Authorization\AccessDecisionManager
		factory: [@Symnedi\Security\Core\Authorization\AccessDecisionManagerFactory, create]
	-
	 	class: Symnedi\Security\Core\Authentication\Token\NetteTokenAdapter
	 	setup:
	 		- setUser(@Nette\Security\User)
	-
		class: Symfony\Component\Security\Core\Authentication\Token\Storage\TokenStorage
		setup:
			- setToken(@Symnedi\Security\Core\Authentication\Token\NetteTokenAdapter)

	# firewall
	- Symnedi\Security\Http\FirewallMapFactory
	-
		class: Symfony\Component\Security\Http\FirewallMap
		factory: [@Symnedi\Security\Http\FirewallMapFactory, create]

	firewallSubscriber:
		class: Symnedi\Security\EventSubscriber\FirewallSubscriber
		autowired: false
	- Symnedi\Security\Bridge\SymfonyHttpFoundation\Request\SymfonyRequestAdapterFactory

	# event dispatcher
	eventDispatcher:
		class: Symfony\Component\EventDispatcher\EventDispatcher
		setup:
			- addSubscriber(@firewallSubscriber)
