services:
	- Symnedi\Security\Tests\DI\SecurityExtension\FirewallSource\RequestMatcher
	- Symnedi\Security\Tests\DI\SecurityExtension\FirewallSource\FirewallListener
	- Symnedi\Security\Tests\DI\SecurityExtension\ListenerSource\RouterFactory
	router: [@Symnedi\Security\Tests\DI\SecurityExtension\ListenerSource\RouterFactory, create]
	- HomepagePresenter


extensions:
	- Symnedi\Security\DI\SecurityExtension
